<?xml version='1.0' encoding='utf-8' ?>
<widget id="org.jboss.aerogear.cordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Shoot</name>
  <description>
    An example application of how to use the oauth2 cordova plugin
  </description>
  <author email="aerogear" href="http://aerogear.org/">
    AeroGear
  </author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackupWebStorage" value="none" />
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar" />
  </feature>
  <feature name="Camera">
    <param name="id" value="org.apache.cordova.camera" />
  </feature>
  <feature name="File">
    <param name="id" value="org.apache.cordova.file" />
  </feature>
  <feature name="File Transfer">
    <param name="id" value="org.apache.cordova.file-transfer" />
  </feature>
  <feature name="OAuth2">
    <param name="id" value="org.jboss.aerogear.cordova.oauth2" />
  </feature>

  <platform name="ios">
    <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
    <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
    <icon src="res/ios/icon-76.png" width="76" height="76" />
    <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
    <icon src="res/ios/icon-Small-40.png" width="40" height="40" />
    <icon src="res/ios/icon-Small-40@2x.png" width="80" height="80" />
    <icon src="res/ios/icon-Small.png" width="29" height="29" />
    <icon src="res/ios/icon-Small@2x.png" width="58" height="58" />
  </platform>
  
  <platform name="ios">
    <splash src="res/screen/ios/Default~iphone.png" width="320" height="480" />
    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960" />
    <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024" />
    <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048" />
    <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768" />
    <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536" />
    <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136" />
  </platform>
  
  <platform name="android">
    <icon src="res/android/48.png" density="ldpi" />
    <icon src="res/android/72.png" density="mdpi" />
    <icon src="res/android/96.png" density="hdpi" />
    <icon src="res/android/144.png" density="xhdpi" />
  </platform>

  <platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="res/screen/android/screen-hdpi-landscape.png" density="land-hdpi" />
    <splash src="res/screen/android/screen-ldpi-landscape.png" density="land-ldpi" />
    <splash src="res/screen/android/screen-mdpi-landscape.png" density="land-mdpi" />
    <splash src="res/screen/android/screen-xhdpi-landscape.png" density="land-xhdpi" />

    <splash src="res/screen/android/screen-hdpi-portrait.png" density="port-hdpi" />
    <splash src="res/screen/android/screen-ldpi-portrait.png" density="port-ldpi" />
    <splash src="res/screen/android/screen-mdpi-portrait.png" density="port-mdpi" />
    <splash src="res/screen/android/screen-xhdpi-portrait.png" density="port-xhdpi" />
  </platform>
</widget>
