<div class="bar bar-header bar-light">
  <button class="button button-clear icon ion-ios7-arrow-back" ng-click="takePicture()"></button>
</div>
<img ng-src="{{image}}" ng-show="image" class="preview">
<div class="bottom-action-bar">
  <ul ng-show="image">
    <li class="gplus">
      <a href="#" ng-click="upload('gplus')">gplus</a>
    </li>
    <li class="keycloak">
      <a href="#" ng-click="upload('keycloak')">keycloak</a>
    </li>
    <li class="fb">
      <a href="#" ng-click="upload('facebook')">facebook</a>
    </li>
  </ul>
</div>