<div class="bottom-action-bar">
  <a href="#" class="select-camera-roll" ng-click="openLibrary()" ng-hide="image">
    <img src="img/pic.png" alt="pic">
  </a>

  <a href="#" class="take-picture" ng-click="takePicture()" ng-hide="image">
     Click!
  </a>

  <ul ng-show="image">
    <li class="gplus">
      <a href="#" ng-click="upload('gplus')">gplus</a>
    </li>
    <li class="keycloak">
      <a href="#" ng-click="upload('keycloak')">keycloak</a>
    </li>
    <li class="fb">
      <a href="#" ng-click="upload('facebook')">facebook</a>
    </li>
  </ul>
</div>